@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900  font-body text-white text-xl;
  }
}
@layer components {
  page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
}
.tieude {
  font-size: 22px;
  color: green;
}

#header li :hover {
  color: rgb(79, 79, 223);
  text-decoration: underline;
}
